.be.divider {
  position: relative;
  overflow: hidden;
  clear: both;
  height: auto;
  margin: 1em 0;
  line-height: 1;
  text-align: center;
  .before {
    display: none;
  }
  .after {
    display: none;
  }
  &:before {
    box-sizing: inherit;
    position: absolute;
    content: '';
    z-index: 1;
    width: 50%;
    top: 50%;
    height: 0;
    margin-left: calc(-50% - 1.5em);
    border-top: @divider-line-height @divider-line-style @divider-line-color;
  }
  &:after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    z-index: 1;
    width: 50%;
    top: 50%;
    height: 0;
    margin-left: 1em;
    border-top: @divider-line-height @divider-line-style @divider-line-color;
  }
}
