.be.feed-group {
  overflow: hidden;
  .feed {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.be.feed {
  .common-list(@feed-avatar-width, @feed-avatar-width);
  .summary {
    margin-bottom: @feed-right-inline-margin;
    .time {
      font-size: @font-size-small;
      color: @gray-light;
    }
  }
  .content {
    margin-bottom: @feed-right-inline-margin;
    .images img {
      height: @feed-content-image-height;
    }
  }
}
